.About {
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleHeadEshop {
    font-family: var(--font1);
    font-size: 2em;
    color: var(--main-color);
    margin-top: 9vh;
    margin-bottom: 0;
  }

  .lineTitleEshop {
    width: 50vw;
  }

  .nameH {
    margin-top: 5vh;
    color: var(--main-color);
    font-size: 2.8vw;
  }

  .AboutEvent {
    color: var(--secondary-color);
    font-family: var(--font1);
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
  }

  a {
    text-decoration: none;
  }

  .AboutEvent:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  .aboutMe {
    margin-top: 5vh;
    margin-left: 15vh;
    margin-right: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .photoPres {
      display: flex;
      align-items: center;

      .img-alex {
        margin: 5vh;
        width: 320px;
        border-radius: 25px;
      }
    }

    .aboutText {
      margin: 5vh;
      text-align: justify;
      color: var(--main-color);
      line-height: 2.5;
      font-size: larger;
      font-style: italic;
      padding: 5px 25px;
      background: var(--third-color);
      opacity: 0.85;
    }

    .quote {
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        color: var(--secondary-color);
        content: "“";
        font-size: 4em;
        text-shadow: -2px 0 #f7f7f7;
        font-weight: bold;
        font-family: "Times New Roman", "serif";
        opacity: 0.75;
        z-index: 1;
        position: absolute;
        top: -30px;
        left: -30px;
      }

      &::after {
        color: var(--secondary-color);
        content: "”";
        font-size: 4em;
        text-shadow: -2px 0 #f7f7f7;
        font-weight: bold;
        font-family: "Times New Roman", "serif";
        opacity: 0.75;
        z-index: 1;
        position: absolute;
        bottom: -30px;
        right: -30px;
      }
    }
  }

  .videoDiv {
    margin: 10vh;
    height: 30vh;
    width: 30vw;

    .videoAngle {
      width: 100%;
    }
  }
}
.divAboutShare {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  cursor: pointer;
  // margin-right: 15vh;c
}

@media only screen and (max-width: 1024px) {
  .photoPres {
    flex-direction: column;
  }
}
