.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  .titleHeadEshop {
    font-family: var(--font1);
    font-size: 2em;
    color: var(--main-color);
    margin-top: 9vh;
    margin-bottom: 0;
  }
  .lineTitleEshop {
    width: 540px;
  }
  .nameH {
    margin-top: 5vh;
    color: var(--main-color);
    font-size: 2.8vw;
  }
  .AboutEvent {
    color: var(--secondary-color);
    font-family: var(--font1);
    font-size: x-large;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  .AboutEvent:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .aboutMe {
    margin-top: 5vh;
    margin-left: 15vh;
    margin-right: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .aboutText {
      margin: 5vh;
      text-align: justify;
      color: var(--main-color);
      line-height: 2.5;
      font-size: larger;
    }
    .photoPres {
      display: flex;
      align-items: center;

      .img-alex {
        margin: 5vh;
        width: 320px;
        border-radius: 25px;
      }
    }

    .textPres {
      display: flex;
      flex-direction: column;
      .aboutText {
        margin: 5vh;
        text-align: justify;
        color: var(--main-color);
      }
    }
  }
  .videoDiv {
    margin: 10vh;
    height: 30vh;
    width: 30vw;
    .videoAngle {
      width: 100%;
    }
  }
}
.divAboutShare {
  display: flex;
  justify-content: flex-end;
  margin-right: 15vh;
}

@media only screen and (max-width: 1024px) {
  .photoPres {
    flex-direction: column;
  }
}
