.mainCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    .divCartArtifact {
        .totalPanier {
            width: 80vw;
            display: flex;
            justify-content: space-around;
            font-size: var(--desktop-size3);
        }
        .CartMentions {
            p {
                font-style: italic;
                font-size: small;
            }
        }
        .empty {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50vh;
            font-family: var(--font1);
            font-size: var(--desktop-size3);
        }
    }
}
