.commandeHistorique {
  display: flex;

  color: white;
  .divCommande {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titreCommande {
      display: flex;

      margin: -10px;
      margin-top: 30px;
    }
    .cadreHaut {
      display: flex;

      .coinHD {
        display: flex;
        height: 30vh;
      }
      .coinHG {
        display: flex;
        height: 30vh;
      }
    }
    .descriptCommande {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 45vh;
      margin-top: -188px;
      height: 370px;
      overflow-y: auto;
      .propsCommande {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .ligneCommande {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .cadreLigne {
            display: flex;
            .lignes {
              margin: 5px;
            }
          }
        }
        .detailCommande {
          display: flex;
          flex-direction: column;
          align-items: center;
          .lignesDetail {
            margin: 5px;
          }
          .boutonDetail {
            width: 60%;
            height: 50%;
          }
        }
      }
      .separateur {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cadreBas {
      display: flex;
      margin-top: -187px;
      .coinBD {
        display: flex;
        height: 30vh;
      }
      .coinBG {
        display: flex;
        height: 30vh;
      }
    }
  }
}
