.editTheme {
  color: white;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  display: flex;
  font-size: 30px;

  .cadreHaut {
    z-index: -1;
    display: flex;
    margin-bottom: -220px;
    margin-top: -15px;
    .cadreHG {
      width: 250px;
    }
    .cadreHD {
      width: 250px;
    }
  }
  .interieurCadre {
    overflow-y: auto;
    height: 500px;
    width: 430px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 23px;
    }
    option {
      .theme-selection {
        background-color: var(--third-color);
      }
    }

    .interieurCadreSecond {
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 23px;
      }
      option {
        font-family: var(--font2);
        font-size: 20px;
        background-color: var(--third-color);
        color: white;
      }

      .descriptionThemeArea {
        margin-top: 10px;
        resize: none;
        width: 375px;
        height: 190px;
      }
      input {
        width: 277px;
        text-align: center;
        font-family: var(--font2);
        color: white;
        font-size: 20px;
        background-color: var(--third-color);
        border-radius: 20px;
        border: none;
      }
      textarea {
        text-align: justify;
        font-family: var(--font2);
        font-size: 20px;
        background-color: var(--third-color);
        color: white;
        border-radius: 20px;
        border: none;
        padding: 12px;
      }
      select {
        font-family: var(--font2);
        font-size: 20px;
        background-color: var(--third-color);
        color: white;
        border-radius: 20px;
        border: none;
      }

      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        .label {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 20px;
        }
        .photoTheme {
          background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(128, 64, 0, 1) 100%);
          border-radius: 280px 280px 0px 0px;
          margin-bottom: 20px;
          margin-top: 20px;
          display: flex;
          height: 10vh;
          width: 10vh;
        }
        input {
          font-size: 15px;
        }
      }
    }
  }
  .cadreBas {
    z-index: -1;
    display: flex;
    margin-top: -220px;
    .cadreBG {
      width: 250px;
    }
    .cadreBD {
      width: 250px;
    }
  }
}
