.divHeadEshop {
  .titleHeadEshop {
    font-size: 2em;
    margin-bottom: 0;
    font-family: var(--font1);
    color: var(--main-color);
    text-align: center;
  }
  .lineTitleEshop,
  .lineTitleEshop2 {
    width: 50vw;
  }
} // OK

.Esd-All {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // text-transform: capitalize;
  color: var(--main-color);
}
.nameArtiShop {
  margin-bottom: 5px;
}
.Esd-All p {
  // font-size: 16px;
  font-family: var(--font2);
}

// PICTURES
.Esd-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
}

.picture1 img {
  margin: 10px 20px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid var(--third-color);
  border-radius: 10px;
}
.picture2 img {
  margin: 10px 20px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid var(--third-color);
  border-radius: 10px;
}
.picture3 img {
  margin: 10px 20px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border: 5px solid var(--third-color);
  border-radius: 10px;
}
.scaled {
  transform: scale(1.8);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
//OUT OF STOCK
.outOfStockMessage {
  background-color: var(--secondary-color);
  padding: 2px 10px;
  border-radius: 10px;
  margin: 10px;
}

// DESCRIPTION & INFOS

.E-desciption {
  max-width: 100ch;
  text-align: justify;
  width: 60%;
  color: var(--main-color);
  font-family: var(--font2);
  font-size: 20px;
  text-align: center;
}
.stockInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divPriceDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/Images/etiquette2.png);
  background-position: center;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 32px;
  height: 68px;
  width: 148px;
  margin-bottom: 10px;
}

.eStockDesktop {
  padding: 10px;
  text-align: center;
  background-color: var(--main-color);
  border-radius: 15px;
  color: var(--third-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eStockDesktop p {
  margin: 10px;
  text-align: center;
  font-size: 16px;
  font-family: var(--font2);
}

// DIV CONTAIN SHARE
.Esd-share {
  transition: opacity 1s ease-in-out;
  cursor: pointer;
}
// DIV CONTAIN BUTTON
.Esd-bttn {
  // position: relative;
  // bottom: 608px;
  // left: 684px;
}
.messDisplayed {
  // transition: all 0.5s ease-in-out;
}
.confirmCartMess {
  background-color: var(--third-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  // transition: all 1ss ease-in-out;
}
// OTHERS BUTTONS
.otherButtonED {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  font-family: var(--font1);
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  margin: 20px;
  background-color: var(--secondary-color);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.otherButtonED:hover {
  background-color: var(--third-color);
  cursor: pointer;
}

.otherButtonED:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

// AUTRES ?
.Esd-star {
  // width: 56px;
  // height: 56px;
  // padding: 0px 10px;
}
.E-deco2 {
  height: 66px;
  margin-bottom: 100px;
}
.eStockMobil {
  display: none;
}

@media screen and (max-width: 560px) {
  .Esd-pictures {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .scaled {
    transform: scale(1.5);
  }
  .messDisplayed {
    display: flex;
    flex-direction: column;
  }
  .confirmCartMess {
    margin-bottom: 10px;
  }
  .otherButtonED {
    margin: 10px;
  }
  .E-desciption p {
    margin: 30px 0px;
  }
}
