.Eshop {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding: 50px;

  .Image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .ArtImage {
      height: 280px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: drop-shadow(4px 5px 3px var(--secondary-color));
      border-radius: 280px 280px 0px 0px;
      box-shadow: inset 0 0 2px 3px rgba($color: #ffffff, $alpha: 100%),
        0 0 30px 5px rgba($color: #ffffff, $alpha: 0.35);
    }

    .Frame {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 280px 280px 0px 0px;
    }
  }
  .E-Star {
    width: 83px;
    position: relative;
    bottom: 63px;
  }
  .Arti-name {
    position: relative;
    filter: drop-shadow(8px 11px 2px var(--background-color));
    z-index: 1;
    top: 350px;
    color: var(--main-color);
    font-family: var(--font3);
    font-size: var(--desktop-size4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    // h2 {
    //   width: 154px;
    // }
  }

  .Eshop-Price {
    position: relative;
    bottom: 165px;
    background-image: url("../assets/Images/etiquette.png");
    background-position: center;
    background-size: 100%;
    min-width: 116px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    p {
      font-weight: 700;
      opacity: 1;
      color: var(--secondary-color);
      font-family: var(--font1);
      font-size: 36px;
      filter: drop-shadow(4px 5px 3px var(--secondary-color));
      text-align: center;
      justify-content: center;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
.Eshop {
  &:hover {
    .price p,
    .Arti-name {
      filter: drop-shadow(1px 1px 0px var(--secondary-color));
      opacity: 1;
    }
    .Eshop-Price {
      opacity: 0.6;
    }
    .ArtImage {
      opacity: 1;
      filter: drop-shadow(8px 11px 10px var(--third-color));
    }
  }
}

@media (max-width: 560px) {
  .Eshop {
    margin: 0;
  }
}
