.Footer {
  // background: no-repeat url("../assets/Icons/wave.svg");

  width: 100%;
  .mainDivFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footerAngle {
      height: 100px;
      padding-bottom: 30px;
      transform: rotate(180deg);
      filter: drop-shadow(0px 0px 1px white);
      .angleL {
        padding-left: 5px;
      }
      .angleR {
        padding-right: 5px;
      }
    }
    .icon {
      width: 25px;
      height: 45px;
    }
    a :hover {
      filter: brightness(0) saturate(100%) invert(23%) sepia(85%) saturate(907%)
        hue-rotate(2deg) brightness(100%) contrast(102%);
      transform: scale(1.2);
      transition: 0.5s;
    }
    .footerStar {
      height: 35px;
      filter: drop-shadow(0px 0px 1px white);
    }
  }
}

// /// Mobil ///
@media (max-width: 560px) {
  .Footer {
    display: none;
  }
}
