.mainDivHeader {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5em;
}
.headerAngle {
    height: 100px;
    padding-top: 30px;
    filter: drop-shadow(0px 0px 1px white);
}
.angleL {
    padding-left: 5px;
}
.angleR {
    padding-right: 5px;
}
.linkHeader {
    text-decoration: none;
}
.itemsNavHeader {
    font-family: var(--font2);
    font-size: 1em;
    color: var(--main-color);
}
.itemsNavHeader:hover {
    transform: scale(1.1);
}
.headerStar {
    height: 35px;
    filter: drop-shadow(0px 0px 1px white);
}
.divLogoHeader {
    background-color: var(--secondary-color);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoHeader {
    height: 40px;
}

/// Tablet ///
@media (max-width: 768px) { 
    .mainDivHeader {
        display: flex;
    }
    .itemsNavHeader {
        font-size: 0.8em;
    } 
    .headerStar {
        display: none;
    }
    .divLogoHeader {
        height: 45px;
        width: 45px;
    }
    .logoHeader {
        height: 30px;
    }
    .headerAngle {
        height: 60px;
        padding-top: 0px;
    }
}
/// Mobil ///
@media (max-width: 380px) { 
    .mainDivHeader {
        display: flex;
        align-items: flex-start;
    }
    .itemsNavHeader {
        display: none;
    } 
    .divLogoHeader {
        display: none;
    }
    .logoHeader {
        display: none;
    }
    .headerAngle {
        padding-top: 5px;
    }
}