.Home {
  #mobil {
    display: none;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    color: var(--main-color);
  }
  h1 {
    font-size: var(--desktop-size1);
    margin-bottom: 0;
    font-family: var(--font1);
  }
  h2 {
    margin: 25px;
    font-size: var(--desktop-size2);
  }
  h3 {
    font-size: var(--desktop-size3);
  }
  #image1 {
    width: 30%;
    height: auto;
  }
  #paragraph {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: justify;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    font-size: var(--desktop-size4);
  }
  #image2 {
    width: 30vw;
    height: auto;
  }
  #image3 {
    width: 30vw;
    height: auto;
    transform: rotate(180deg);
  }

  .image {
    //display: flex;
    //align-self: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .card-theme > div {
    display: inline-block;
    width: 31%;
    margin-right: 2%;
  }

  .card-theme > div:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .card-themeResp {
    padding-left: 33px;
    display: flex;
    overflow: auto;
    justify-content: space-between;
    width: 72%;
    height: 100%;
    margin-left: 12%;
  }
  // .card-themeResp::-webkit-scrollbar {
  //   display: none;
  // }
  .card-themeResp::-webkit-scrollbar-button {
    display: flex;
  }
}

@media (max-width: 768px) {
  .Home {
    #mobil {
      display: block;
    }
    #paragraph {
      margin-left: 70px;
      margin-right: 70px;
      font-size: var(--mobile-size3);
    }
    h1 {
      font-size: var(--mobile-size1);
    }
    h2 {
      margin: 25px;
      font-size: var(--mobile-size2);
    }
    h3 {
      font-size: var(--mobile-size3);
    }
  }
}
