
.home{
    background-color: black;
    display: flex;
    align-items: center;

}
h1,h2,h3{
    text-align: center;
    color: white;
}

h1{
    font-size: 3.6vw;
    margin-bottom: 0;
}
h2{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 2.8vw;
}
h3{
    //font-size: 1.8vw;
}
#paragraph{
    //font-size: 1.2vw;
    margin-top: -10px;
    margin-bottom: 5px;
    text-align: justify;
    color: white;
    margin-left: 100px;
    margin-right: 100px;

}
#image1{
width: 40%;
height: auto;
}
#mobil{
    display: none;
}
#image2{
width: 30vw;
height: auto;
}
#image3{
    width: 30vw;
    height: auto;
}

.image{
    //display: flex;
    //align-self: center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
@media only screen and (max-width:768px) {
#mobil{
    display: block;
}
}