@import "./App.scss";
@import "./Artifact.scss";
@import "./CardTheme.scss";
@import "./Contact.scss";
@import "./EshopCard.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./Home.scss";
@import "./splash.scss";
@import "./burger.scss";
@import "./about.scss";

@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=EB+Garamond:ital@1&display=swap");
@font-face {
  font-family: "Dream";
  src: url("../assets/Font/Dream-Avenue.ttf");
}

:root {
  --background-color: #151515;
  --main-color: #ffffff;
  --secondary-color: #804000;
  --third-color: #004033;
  --font1: "Dream";
  --font2: "Alegreya";
  --font3: "EB Garamond";
}

body {
  margin: 0;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background-color: (--background-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
