.door-container {
  max-height: fit-content;
  position: relative;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  background: #151515;
  transition-delay: 1s, 250ms;
  transition: all 2s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective-origin: 50% 100px;

  .door-container.open .door-left {
    transform: rotateY(-90deg);
  }

  .door-container.open .door-right {
    transform: rotateY(90deg);
  }

  .door-left,
  .door-right {
    overflow: hidden;
    perspective: 600px;
    perspective-origin: 50px 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    box-shadow: -10px 20px 30px rgba(0, 0, 0, 0.5);
    background-color: #151515;
    transform-style: preserve-3d;
    transition: transform 10s ease-in-out;
  }

  .door-left {
    overflow: hidden;
    left: 0;
    transform-origin: 0% 50%;
    transform: rotateY(5deg);
    transform-style: flat;
    animation: rotations 7s linear forwards;
  }
  .dleft {
    width: 100%;
    height: auto;
  }

  .door-right {
    max-height: fit-content;
    overflow: hidden;
    right: 0;
    transform-origin: 100% 50%;
    transform: rotateY(-5deg);
    transform-style: flat;
    animation: rotation 9s linear forwards;
  }
  .dright {
    width: 100%;
    height: auto;
  }
  .door-container .splash-home {
    opacity: 0;
    animation: apparition 5s ease 2s forwards;
  }
  .Header,
  .Footer {
    // display: none;
    opacity: 0;
    animation: apparition 5s ease 2s forwards;
  }
  .glow-effect {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(circle, #fff, rgba(255, 255, 255, 0) 60%);
    animation: glow 15s ease-in-out infinite;
    border-radius: 80%;
  }
}
@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(270deg);
  }
}
@keyframes rotations {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}
@media screen and (max-width: 768px) {
}
.dleft {
  width: 100%;
  height: 100%;
}
.dright {
  width: 100%;
  height: 100%;
}
