.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 20px;
  padding: 30px;
  svg {
    transform: scale(1.5);
    opacity: 0.1;
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
}

// .scroll-to-top-button button {
//   // color: var(--background-color);
//   border: none;
//   padding: 20px;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: background-color 0.3s ease-in-out;
// }

.scroll-to-top-button :hover {
  background-color: var(--secondary-color);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
