.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 20px;
  padding: 30px;
}

.scroll-to-top-button button {
  background-color: var(--main-color);
  color: var(--background-color);
  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.scroll-to-top-button button:hover {
  background-color: var(--secondary-color);
}
