.pageUser {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  font-family: var(--font1);
  align-content: center;
  margin-top: 50px;

  .titrePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    .titre {
      display: flex;

      margin-top: 30px;
      margin-bottom: 0;
      font-size: 2em;
    }
    .headLine {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
    }
  }
  .infoPage {
    display: flex;
    flex-direction: column;

    .toutContenaire {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .userInfo {
        font-size: 30px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titreInfo {
          margin-bottom: -10px;
        }
        .coinHaut {
          z-index: -1;
          display: flex;
          .coinHG {
            height: 300px;
          }
          .coinHD {
            height: 300px;
          }
        }
        .allEncart {
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: -238px;
          width: 510px;
          height: 462px;
          overflow-y: auto;

          .encart {
            display: flex;
            flex-direction: column;
            .encartSousTitre {
              display: flex;
              flex-direction: column;
            }

            .separateur {
              margin-top: 50px;
            }
          }
        }
        .coinBas {
          z-index: -1;
          display: flex;
          margin-top: -223px;
          .coinBG {
            height: 300px;
          }
          .coinBD {
            height: 300px;
          }
        }
      }

      .horizontal {
        display: none;
      }
      .vertical {
        display: flex;
        height: 65vh;
      }
      .commande {
        display: flex;
        align-items: center;
        justify-content: center;

        .commandeHistorique {
          display: flex;

          color: white;
          .divCommande {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .titreCommande {
              display: flex;
              font-size: 30px;
              margin: -10px;
              margin-top: 30px;
            }
            .cadreHaut {
              display: flex;

              .coinHD {
                display: flex;
                height: 435px;
              }
              .coinHG {
                display: flex;
                height: 435px;
              }
            }
            .descriptCommande {
              font-size: 23px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 580px;
              padding: 20px;
              margin-bottom: -195px;
              margin-top: -387px;
              height: 765px;
              overflow-y: auto;
              .descriptCommandeSuite {
                width: 100%;
                height: 100%;
                .propsCommande {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  .ligneCommande {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .cadreLigne {
                      display: flex;
                      .lignes {
                        margin: 5px;
                      }
                    }
                  }
                  .detailCommande {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .lignesDetail {
                      margin: 5px;
                    }
                    .boutonDetail {
                      width: 60%;
                      height: 50%;
                    }
                  }
                }
              }
              .separateur {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .cadreBas {
              display: flex;
              margin-top: -187px;
              .coinBD {
                display: flex;
                height: 435px;
              }
              .coinBG {
                display: flex;
                height: 435px;
              }
            }
          }
        }
      }
    }
    .deconnexion {
      margin: 50px;
      margin-top: 100px;
      .boutonDeconnexion {
        border-radius: 47px;
        height: 5vh;
        width: 15vw;
      }
    }
  }
}

@media (max-width: 949px) {
  .pageUser {
    .titrePage {
      .titre {
        font-size: 1.5em;
      }
      .headLine {
        width: 300px;
      }
    }
    .toutContenaire {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      .contenaireGauche {
        margin-bottom: 50px;
      }
      .horizontal {
        display: flex;
        width: 45vw;
        margin-bottom: 20px;
      }
      .vertical {
        display: none;
      }
    }
  }
}
/* Sélectionne la scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Définit la couleur de fond */
::-webkit-scrollbar {
  background-color: #f5f5f5;
}

/* Définit la couleur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #1f1e1e;
}

/* Définit l'apparence de la piste */
::-webkit-scrollbar-track {
  background-color: #383737;
  border-radius: 3px;
}

/* Définit le rayon de courbure des coins de la barre de défilement */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
